@charset "UTF-8";


body {
    background-color: rgb(193, 214, 184);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: rgb(46, 163, 31);
    color: white
}

h1 { 
    color: rgb(46, 163, 31);
}

h2 {
    color: rgb(35, 94, 20);
}
.basico {
    color: rgb(151, 66, 66);
}

.intermediario{
    color: rgb(158, 158, 80);
}

.avançado{
    color: rgb(63, 63, 138);
}
.destaque{
    background-color: rgb(163, 163, 53);
}